body {
    
}

.main-title {
    text-align: center;
}

#search-content {
    text-align: center;
}

#search-input {
    width: 25%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    
}

#autocomplete {
    border: 2px solid black;
    width: 25.5%;
    position: relative;
    right: 30px;
    scroll-behavior: auto;
}

li {
    list-style-type: none;
}


#featured-container {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* border: 2px solid black; */
    margin: 10px 40px;
}

.box {
    /* margin: ; */
    border: 2px solid black;
    height: 300px;
    width: 300px;
}

#charBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#spellChar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
