body {
    background-color: black;
    height: 100vh;
}

#navbar {
    height: 8vh;
    width: auto;
    
}

.nav-btn {
    color: white;
    text-decoration: none;
    list-style: none;
}

.main-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 12rem;
    color: white;
}

.text-bg-dark {
    background-color: transparent;
}


.card {
    height: 25rem;
    margin: 20px;
    
    /* opacity: .6; */
}

.card-img {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .6;
    
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-input {
    width: 60vw;
    background-color: black;
    text-align: center;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
}

#search-input:focus {
    outline: none;
}

#main-submit {
    background: transparent;
    border: none;
}

#autocomplete {
    text-align: center;
    position: relative;
    overflow: visible;
    color: white;
}

#refresh-btn {
    margin-left: 20px;
}

li {
    list-style: none;
}

#charInfoBtn {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 15px;
}

#spellBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* POP-UP */


/* #popup-container {
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    visibility: hidden;
} */

.label {
    font-weight: bold;
}

.non-label {
    font-weight: normal;
}

#close-card-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}


#popup {
    position: fixed;
    height: 35rem;
    width: 65vw;
    background-color: rgba(33, 37, 41, 0.98);
    color: black;
    display: flex;
    justify-content: space-evenly;
    visibility: hidden;
    z-index: 1;
    top: 80px;
    margin-left: 240px;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#card-name {
    margin-bottom: 0;
    padding-bottom: 0;
}

#favorite {
    font-size: larger;
}

#favorite:hover {
    color: #ffc007;
}

#alt-name {
    margin-top: 0;
    padding-top: 0;
}

#card-bday {
    text-align: center;
}

#popup-img {
    height: 50vh;
    max-width: 100%;
    
}

.popup-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#info-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
}

#wand-title {
    text-align: center;
}

#wand-info {
    display: flex;
    gap: 16px;
    justify-content: center;
}


/* SPELL POPUP */

#spell-popup {
    position: fixed;
    background-color: rgba(33, 37, 41, 0.9);
    color: black;
    
    height: 35rem;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 1;
    top: 80px;
    margin-left: 240px;
}

#close-scard-btn {
    color: black;
    font-size: larger;
    width: 10%;
    position: absolute;
    padding: 0;
    top: 20px;
    left: 25px;
}


/* FAVORITES */

#favorites-bar {
    visibility: hidden;
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    background-color: rgba(33, 37, 41, 0.9);
    /* opacity: .95; */
    /* display: flex; */
}

#fav-btn {
    margin-top: 15px;
}

#fave-btn:hover {
    color: #ffc007;
}

#close-fav-btn {
    width: 3vw;
}

#fav-card-container {
    /* width: 1rem; */
    display: flex;
    /* justify-content: center; */
    overflow: scroll;
    
}

#fav-card {
    /* width: 60rem; */
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fave-card-img {
    height: 10rem;
    width: 10rem;
}

#next-btn {
    width: 3rem;
}